*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

button {
    width: 75px;
    height: 25px;
    color: tomato;
    background-color: royalblue;
    cursor: pointer;
    margin: 50px;
}